.login-form-item {
  max-width: 300px;
  width: 100%;
}

.grow {
  flex-grow: 1;
}

.card-container {
  padding: 14px;
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

.card-video-thumbnail > img {
  margin-right: 12px;
}

.title-and-favorites {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.is-favorite {
  color: rgb(255, 166, 0) !important;
}
body {
  margin: 0 !important;
  padding: 0 !important;
}

.icon-button {
  cursor: pointer;
  opacity: 0.9;
  color: grey;
}

.icon-button:hover {
  opacity: 1;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.large-flex {
  width: 100%;
  flex: 2;
}

.small-flex {
  flex: 1;
  width: 100%;
}

.app-bar {
  box-shadow: 0px 1px 10px 1px rgba(129, 129, 129, 0.267);
  padding-top: 14px;
  padding-bottom: 14px;
}

.align-center {
  align-items: center;
}
.app-bar input {
  width: 100%;
  max-width: 400px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  padding: 8px;
}

main {
  margin-top: 36px;
}

.video-list-holder {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.video-list-holder > * {
  margin-bottom: 16px;
}

.card-video-details {
  display: flex;
  flex-direction: column;
  transition: all 0.1s ease-in-out;
}
.card-video-details:hover {
  color: rgb(49, 118, 197);
  cursor: pointer;
}

.card-container:hover {
  background-color: rgb(245, 245, 245);
}
.backdrop {
  z-index: 1000;
}

.video-player {
  width: 100%;
}

.column {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.flex-end {
  margin-left: auto;
}

.error-alert {
  display: flex;
  width: 100%;
  max-width: 1080px;
  align-items: center;
}

.player-wrapper {
  margin-right: 24px;
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  min-width: 500px;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
